body {
  background: url('../img/rana-sawalha-364253-unsplash.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.mainheader {
  background-color: rgba(0, 0, 0, 0.41);
  padding: 20px 80px;
  height: 22px;
}

.hometitle {
  float: left;
  width: 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s;
}

.hometitle:hover {
  color: #3cb878;
}

.mainlinks {
  float: right;
  width: 75%;
  text-align: right;
}

.btns {
  display: inline-block;
  text-align: center;
  border-right: #848484 1px solid;
}

.btn_link {
  display: inline-block;
  margin-right: 28px;
}

.btn_caledar {
  width: 19px;
  height: 19px;
  background: url('../img/css_sprites.png') -10px -10px;
}

.btn_caledar:hover {
  width: 19px;
  height: 19px;
  background: url('../img/css_sprites.png') -49px -10px;
}

.btn_forum {
  width: 28px;
  height: 20px;
  background: url('../img/css_sprites.png') -168px -10px;
}

.btn_forum:hover {
  width: 28px;
  height: 20px;
  background: url('../img/css_sprites.png') -216px -10px;
}

.btn_journey {
  width: 20px;
  height: 20px;
  background: url('../img/css_sprites.png') -88px -10px;
}

.btn_journey:hover {
  width: 20px;
  height: 20px;
  background: url('../img/css_sprites.png') -128px -10px;
}

.headeracts {
  display: inline-block;
  margin-left: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 14px;
}

.header-acts__link {
  color: #3cb878;
  text-decoration: none;
  transition: text-decoration-line 0.5s;
}

.header-acts__link:hover {
  text-decoration-line: underline;
}

.main {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  position: relative;
  width: 444px;
  box-sizing: border-box;
  border-radius: 18px;
  padding: 30px 60px;
  background-color: white;
}

.main-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box-green {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
}

.signup-title {
  font-family: Verdana, sans-serif;
  color: #434343;
  font-size: 20px;
}

.login-link {
  font-family: Verdana, sans-serif;
  color: #3cb878;
  font-size: 14px;
  text-decoration: none;
}

.login-link:hover {
  text-decoration-line: underline;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.social-buttons .fa {
  font-size: 20px;
}

.btn {
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn-icon {
  width: 47px;
}

.navy-border {
  border-right: 1px #2953a8 solid;
}

.red-border {
  border-right: 1px #ca412a solid;
}

.btn__link {
  display: inline-block;
  width: 157px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.btn-caption {
  display: inline-block;
  width: calc(100% - 54px);
}

.btn-facebook {
  background-color: #305db8;
  transition: background-color 0.5s;
}

.btn-facebook:hover {
  background-color: #214997;
}

.btn-google {
  background-color: #df4a32;
  transition: background-color 0.5s;
}

.btn-google:hover {
  background-color: #c43f28;
}

.top-splitter {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 18px;
}

.hor-line {
  display: inline-block;
  width: 135px;
  border: 0.5px solid #eaeaea;
}

.splittext {
  font-family: Verdana, sans-serif;
  color: #848484;
  font-size: 14px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 17px 19px;
  margin-bottom: 9px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: Verdana, sans-serif;
  color: #bebebe;
  font-size: 14px;
}

.form-control:focus {
  color: #434343;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.cb-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-agree {
  -webkit-appearance: none;  
  border: 1px solid #ebebeb;  
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.checkbox-agree:checked:after {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 1px;
  color: #3aba78;
}

.cb-agree__lable {
  margin-left: 10px;
  font-family: Verdana, sans-serif;
  color: #434343;
  font-size: 14px;
}

.cb-agree__link {
  font-family: Verdana, sans-serif;
  color: #3cb878;
  font-size: 14px;
  text-decoration: none;
}

.cb-agree__link:hover {
  text-decoration-line: underline;
}

.btn-submit {
  background-color: #3aba78;
  margin-top: 15px;
  border: none;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.5s;
}

.btn-submit:hover {
  background-color: #2f9b65;
}