body {
    background: url('../img/background.png') no-repeat;
    background-size: 1366px auto;
    font-family: Verdana, sans-serif;
    width: 1366px;
}

.main {
    padding-left: 150px;
    padding-right: 150px;
}

.main-header {
    margin-bottom: 48px;
    margin-top: 48px;
    position: relative;
}

.main-header__logo {
    float: left;
    width: auto;
}

.main-header__logo:hover .main-header__logo__icon{
    content: url('../img/logo_hot.png');    
}

.main-header__logo:hover .main-header__logo__link1{
    color: #f26522;  
}

.main-header__logo__link {
    display: block;
    float: left;
    margin-right: 15px;
}

.main-header__logo__icon {
    width: 46px;
    height: 44px;
    transition: all 0.5s ease 0s;  
}

.main-header__logo__link1 {
    display: block;
    float: left;
    font-size: 29px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: color .5s;
}

.main-header__logo__link2 {
    display: block;
    font-size: 18px;
}

.main-header__contacts {
    float: right;
    width: 45%;
    position: absolute;
    bottom: 3px;
    right: 0;
    text-align: right;
}

.main-header__contacts__mail {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.main-header__contacts__phone {
    display: block;
    font-size: 18px;
    color: white;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.guide-item {
    width: 307px;
    position: relative;
    margin-bottom: 30px;     
}


.guide-item:hover .guide-item-info {
    opacity: 1;
}

.guide-item:nth-child(3n) {
    margin-right: 0;
}

.guide-item:nth-child(n+4) {
    margin-bottom: 20px;
}

.guide-iborder{
    border-width: 3px 3px 0px 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 8%;
}
.guide-img {
    width: 100%;
}

.guide-item-info {
    position: absolute;
    padding: 17px 20px;
    width: 100%;
    background-color: #f26522;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(0, -100%);
    transition: opacity 2s;
}

.guid-item__price {
    float: left;
    width: 45%;
}

.guide-item__pricelable {
    color: white;
    font-size: 10px;
    text-align: left;
}

.guide-item__pricevalue {
    color: #ffffff;
    font-size: 20px;
    text-align: left;
}

.guide-item__gotodet {
    float: right;
    width: 45%;
    position: absolute;
    right: 0;
    bottom: 17px;
}

.guide-item__link::after {
    content: "\003e";
    margin-left: 15px;
}

.guide-item__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: right;
}

.guide-item-name {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}

.guide-item-name:hover {
    color: #f26522;
}

.main-footer__copyright {
    padding: 20px 20px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}