body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1160px;
  margin: 0px auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(73, 71, 63, 0.6);
  padding-top: 28px;
  padding-bottom: 25px;
}

.menu-top-item {
  display: inline-block;
}

.navbar-search {
  display: none;
}

.navbar-search-item {
  color: #b8b8b8;
  font-size: 22px;
}

.menu-top-link {
  margin-right: 26px;
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-top-link:hover {
  color: #18cfab;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
}

.hexagon {
  color: #18cfab;
  font-size: 90px;
  position: relative;
  text-align: center;
}

.navbar-logo-img {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: 30%;
  left: 0px;
  width: 100%;
}

.navbar-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-text {
  color: #ffffff;
  font-size: 31.96px;
  font-weight: 400;
}

.navbar-logo-text__title {
  color: #18cfab;
  font-size: 31.96px;
  font-weight: 700;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.cover {
  background: url(../img/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 366px;
  padding-bottom: 244px;
  text-align: center;
}

.cover-about {
  margin-bottom: 45px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.cover-about__part2 {
  color: #18cfab;
  font-size: 35px;
  font-weight: 700;
}

.cover-title {
  margin-bottom: 37px;
  color: #ffffff;
  font-size: 79px;
  font-weight: 700;
  text-transform: uppercase;
}

.cover-subtitle {
  margin-bottom: 146px;
  color: #d4d4d4;
  font-size: 34px;
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 4px;
  width: 166px;
  box-shadow: inset 0px 4px #ffffff;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.green {
  background-color: #18cfab;
}

.blue {
  background-color: #00cbf6;
}

.customization-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.customization-item {
  padding: 95px 99px 120px;
  text-align: center;
  flex: 1 100%;
}

.customization-item:nth-child(odd) {
  background-color: #152530;
  color: #18cfab;
  border-top: 7px solid #11d0ac;
}

.customization-item:nth-child(2n) {
  background-color: #11d0ac;
  color: #ffffff;
  border-top: 7px solid #ffffff;
}

.customization-image {
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.customization-title {
  padding-top: 48px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}