* {
	margin: 0;
	padding: 0;
}

body {
	width: 1280px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.menu {
	color: #2a9b82;
	padding: 10px;	
}

.btncontainer {
	margin-top: 41px;
}

.btn {
	background-color: #2a9b82;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 20px 45px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;	
}

.main {
	background: #f5f6f8;
}

.main-description {	
	padding-top: 56px;
	padding-bottom: 60px;
}

.description-info {
	margin: 15px 70px;
}

.description__title {
	display: block;
	font-size: 22px;
	color: #373737;
	margin-bottom: 34px;
	text-transform: uppercase;
}

.description__text {
	margin-bottom: 34px;
	font-weight: 900;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2px;
}

.footer {
	padding: 45px 100px;
	text-align: right;
	font-weight: 900;
	font-size: 16px;
	letter-spacing: 2px;
	color: #373737;
}

.main-image {
	max-width: 100%;
}

.menu {
	text-align: center;
	margin: 10px 0;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 2px;
}

.menu-content {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style: none;
}

.menu-item {
	display: inline-block;
}

.menu-item__link {
	display: inline-block;
	text-decoration: none;
	color: #2a9b82;
	padding: 2px 15px;
	text-transform: uppercase;
}