/*common styles*/

.section-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.sectionname-black {
  color: #333333;
  margin-bottom: 35px;
}

.sectionname-white {
  color: #ffffff;
  margin-bottom: 60px;
}

.font-orange {
  color: #f1ad1d;
}

.section-description {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  color: #4d4943;
  font-size: 17px;
}

.line-orange {
  background-color: #f1ad1d;
  border-style: none;
  width: 60px;
  height: 3px;
}

.line-white {
  background-color: #ffffff;
  width: 281px;
  height: 3px;
  border-style: none;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  z-index: -1;
}

/*section - cover*/

.cover {
  padding: 145px 80px;
  display: flex;
  align-items: flex-end;
  height: 100vh;
}

.bg-cover::after {
  background: url('../img/bg1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  padding: 0px 3px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.title-description {
  padding: 16px 6px 28px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 18px;
}

.title-info {
  display: inline-flex;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}

.title-info__part1 {
  background-color: #ffffff;
  padding: 50px 30px 40px 34px;
  font-family: 'Montserrat', sans-serif;
  color: #f1ad1d;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
}

.title-info__part2 {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 56px 40px 26px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  text-align: center;
}

/*section - about*/

.about {
  background: #ffffff;
  padding: 137px 80px 130px;
}

/*section - realities*/

.realities {
  padding: 150px 80px;
}

.bg-realities::after {
  background: url('../img/bg2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

/*company secret*/

.companysecret {
  background: #ffffff;
  padding: 136px 80px 180px;
}

/*company list*/

.companylist {
  padding: 174px 80px 114px;
}

.bg-companylist::after {
  background: url(../img/bg3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.company-logolist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}

/*our work*/

.ourwork {
  background: #ffffff;
  padding: 157px 80px 122px;
}

/*our products*/

.ourproducts {
  padding: 130px 80px 120px;
}

.bg-ourproducts::after {
  background: url('../img/bg4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.products-description {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 44px;
}

.ourproduct-hashtag {
  color: #f1ad1d;
  text-decoration: none;
}

.ourproduct-link {
  display: block;
  margin-top: 12px;
  color: #f1ad1d;
  text-decoration: none;
}

/* some goods*/

.somegoods {
  background: #ffffff;
  padding: 155px 80px 130px;
}