/* Myriad Pro-regular*/
@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Myriad Pro Regular.otf');
  }  

body {
    width: 1280px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Myriad Pro', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.header-main {
    margin-top: 60px;
}

.header-main-title__link {
    font-size: 80px;
    color: black;
}

/*Добавляла сначала через span со свойствами, но после форматировании текста в файле строка 
с ним переносилась на другую строчку с пробелом и соответсвенно коряво отображалось... как-то так) 
поэтому такое решение...*/
.header-main-title__link::after {
    content: "mda.js";
    color: #4bcaff;
}

.headermenu {
    margin-top: 45px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #35444f;
}

.headermenu-item {
    display: inline; 
}

.headermenu-item__link {
    display: inline-block;
    padding: 26px 42px;
    font-size: 24px;
    color: #ffffff;
    transition: background-color 1s;
}

.headermenu-item__link:hover {
    padding-left: 41px;
    padding-right: 41px;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.leftmenu {
    float: left;
    width: 345px;
    margin-right: 52px;
    border: 1px solid #32424e;
}

.leftmenu-item__link {
    display: block;
    padding: 28px 44px;
    font-size: 27px;
    color: #495863;
    transition: background-color 1s;
}

.leftmenu-item__link:hover {
    padding-left: 70px;
    background-color: #dcdcdc;
    color: #000;
}

.center-data {
    float: right;
    width: 880px;
}

.center-imagebox {
    display: block;
    border: 1px solid #32424e;
    margin-bottom: 50px;
    text-align: center;
}

.center-image {
    margin: 70px auto;
}

.center-image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.description {
    padding: 0px 30px 30px 30px;
    line-height: 24px;
    font-size: 18px;
    color: #2c2b2b;    
}

.footer-main{
    background-color: #b5b8bb;
}
.nav-bottom {
    clear: both;
    padding: 22px 34px 22px 44px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav-bottom-item {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-bottom-item__link {
    font-size: 28px;
    color: #0c1927;
    transition: color .2s;
}

.nav-bottom-item__link:hover {
    border-bottom: 1px solid #3181a6;
    color: #3181a6;
}

.nav-bottom-copyright {
    font-size: 28px;
    color: black;
    float: right;
}