/* arimo-regular - latin */

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arimo-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Arimo Regular'), local('Arimo-Regular'), url('../fonts/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arimo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arimo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arimo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arimo-v11-latin-regular.svg#Arimo') format('svg');
  /* Legacy iOS */
}

/* arimo-700 - latin */

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/arimo-v11-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Arimo Bold'), local('Arimo-Bold'), url('../fonts/arimo-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arimo-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arimo-v11-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arimo-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arimo-v11-latin-700.svg#Arimo') format('svg');
  /* Legacy iOS */
}

body {
  height: 100vh;
  background-color: #374765;
  font-family: 'Arimo', sans-serif;
}

.table-view {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-row {
  background-color: #fafafa;
}

.header-row:not(:first-child) {
  height: 86px;
}

.tabletitle__part1 {
  font-size: 18px;
  font-weight: 700;
  color: #484848;
}

.tabletitle__part2 {
  display: inline-block;
  color: #484848;
  font-size: 30px;
  font-weight: 700;
}

.header-item {
  width: 277px;
  height: 70px;
  vertical-align: middle;
  color: #484848;
}

.header-plantitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.header-plan__standard {
  background-color: #89c331;
}

.header-plan__ultimate {
  background-color: #f04a56;
  font-size: 30px;
}

.header-plan__premium {
  background-color: #20807c;
}

.planprice__part1 {
  color: #484848;
  font-size: 60px;
  font-weight: 700;
}

.planprice__part2 {
  display: inline-block;
  text-align: left;
}

.planprice__cents {
  color: #484848;
  font-size: 24px;
  font-weight: 700;
}

.planprice__byperiod {
  display: block;
  margin-top: 7px;
}

.header-item .fas, .header-item .far {
  color: #848484;
  font-size: 24px;
  margin-right: 12px;
}

.header-item:first-child {
  width: 310px;
}

.footer-row {
  height: 110px;
}

.footer-row-header {
  background-color: #dddddd;
}

.footer-item {
  vertical-align: middle;
  box-shadow: inset -3px 0px 8px -5px rgba(115, 115, 115, 0.75);
}

.footer-item:nth-child(2n+1) {
  background-color: #eeeeee;
}

.footer-item:nth-child(2n) {
  background-color: #f4f4f4;
}

.btn {
  width: 192px;
  border-radius: 5px;
  padding-top: 19px;
  padding-bottom: 17px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.btn-contact {
  margin: 29px 59px;
}

.btn-buy {
  margin: 30px 43px;
}

.btn-black {
  background-color: #484848;
  box-shadow: 0px 7px 0px 0px #404040;
  text-shadow: 0px -2px #404040;
  transition: background-color 0.5s;
}

.btn-black:hover {
  background-color: #404040;
}

.btn-green:hover {
  background-color: #79b027;
}

.btn-green {
  background-color: #89c331;
  box-shadow: 0px 7px 0px 0px #79b027;
  text-shadow: 0px -2px #79b027;
  transition: background-color 0.5s;
}

.btn-green:hover {
  background-color: #79b027;
}

.btn-red {
  background-color: #f04a56;
  box-shadow: 0px 7px 0px 0px #df3a46;
  text-shadow: 0px -2px #df3a46;
  transition: background-color 0.5s;
}

.btn-red:hover {
  background-color: #df3a46;
}

.btn-teal {
  background-color: #20807c;
  box-shadow: 0px 7px 0px 0px #16736f;
  text-shadow: 0px -2px #16736f;
  transition: background-color 0.5s;
}

.btn-teal:hover {
  background-color: #16736f;
}

.table-row:nth-child(2n+1) {
  background-color: #f2f2f2;
}

.table-row:nth-child(2n) {
  background-color: #e3e3e3;
}

.table-data {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.table-itemlist {
  font-size: 16px;
}

.table-item {
  padding-top: 29px;
  padding-bottom: 27px;
  color: #484848;
  box-shadow: inset -3px 0px 8px -5px rgba(115, 115, 115, 0.75);
}

.item-shadow {
  box-shadow: inset -3px 0px 8px -5px rgba(115, 115, 115, 0.75);
}

/*for second table*/

.table-data2 {
  border-width: 30px 30px 22px 27px;
}

.header-item2 {
  min-width: 157px;
  padding: 32px 18px;
  box-sizing: border-box;
  vertical-align: middle;
  color: #848484;
}

.header-item2:first-child {
  padding: 38px 28px;
}

.table2title__part1 {
  font-size: 14px;
  font-weight: 700;
  color: #484848;
}

.table2title__part2 {  
  margin-top: 9px;
  color: #484848;
  font-size: 20px;
  font-weight: 700;
}

.header-item2 .fas, .header-item2 .far {
  color: #848484;
  font-size: 24px;
  margin-bottom: 15px;
}

.header-item2__caption {
  color: #484848;
  font-size: 20px;
  font-weight: 700;
}

.table-item2 {
  padding: 17px;    
  /*box-shadow: inset -3px 0px 8px -5px rgba(115, 115, 115, 0.75);*/
}

.header-plan{
  padding: 18px 27px;
}